.container {
    position: relative;
    overflow-x: hidden;
    width: 100vw;
    background-color: #151515;
}

.scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px;
}

.footer-header {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    margin: 0px 10px;
    font-size: 70px;
    // font-size: 5vw;
}

.mail-button-wrapper {
    margin: 75px 10px 0px;
    background: linear-gradient(to right, #de6161, #2657eb);
    width: fit-content;
    max-width: 100%;
    padding: 2px;
    border-radius: 20px;

}

.mail-button-link {
    color: white;
    font-size: 2em;
    text-decoration: none;
}

.mail-button {
    background: #151515;
    padding: 10px 35px;
    border-radius: 20px;
    transition: all 0.3s ease;

    &:hover {
        background: linear-gradient(to right, #de6161, #2657eb);
        transition: all 0.3s ease;
    }
}

.copyright-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
    width: 100%;
    max-width: 900px;
}

.copyright-text {
    color: white;
    font-size: 18px;
}

.copyright-icons {
    display: flex;
}

@media screen and (max-width: 1000px) {
    .footer-header {
        font-size: 50px;
    }

    .mail-button-link {
        font-size: 30px;
    }

    .copyright-text {
        font-size: 14px;
    }
}

@media screen and (max-width: 700px) {
    .scroll-container {
        padding: 25px 0px;
    }

    .footer-header {
        font-size: 8vw;
        padding: 5px;

        div {
            padding: 5px;
        }
    }

    .mail-button-link {
        font-size: 5.5vw;
    }

    .mail-button {
        padding: 10px;
    }

    .copyright-section {
        margin-top: 50px;
        flex-direction: column-reverse;
    }

    .copyright-text {
        padding: 10px;
        font-size: 3.5vw;
    }
}

@media screen and (max-width:500px) {
    .container {
        padding: 0px 0px;
    }

    .footer-header {
        font-size: 16vw;
        flex-direction: column;
        align-items: center;

        div {
            margin-top: 20px;
        }
    }

    .copyright-text {
        font-size: 4vw;
        margin-top: 50px;
    }
}