.container {
    position: absolute;
    overflow: hidden;
    z-index: 10;
    width: 100vw;
    height: 100%;
    font-size: 8vw;
    // font-family: "Permanent Marker", cursive;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30vh;
}

.text-wrapper {
    position: relative;
    user-select: none;
}

@media screen and (max-width: 400px) {
    .container {
        margin-bottom: 100vh;
    }
}