.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150vh;
    width: 100vw;
    padding: 50px 20px;
    // background-color: #0e1111;
    background-color: #151515;
}


.info {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-right: 10vw;
    min-width: 30vw;
    max-width: 80vw;
    // max-width: 800px;
    color: white;
}

.header {
    display: inline-block;
    color: #2657eb;
    font-size: 72px;
    // font-size: 4vw;
    padding: 20px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.stack {
    list-style: none;
    margin-top: 30px;
    font-size: 36px;
    // font-size: 2vw;
    width: 100%;

    li {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(15px);
        border-radius: 20px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        padding: 50px 0px;
    }

    .info {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    .header {
        font-size: 7vw;
        // font-size: 60px;
    }

    .stack {
        font-size: 3.5vw;
        // font-size: 30px;
    }
}

@media screen and (max-width: 600px) {
    .info {
        width: 100vw;
        max-width: 90vw;
        justify-content: center;
    }

    .header {
        // font-size: 50px;
        font-size: 10vw;
        text-align: center;
        padding: 20px 5px;
    }

    .stack {
        // font-size: 25px;
        font-size: 30px;
        text-align: center;
    }


}

@media screen and (max-width: 425px) {
    .header {
        font-size: 30px;
    }

    .stack {
        font-size: 25px;
    }
}