.container {
    display: flex;
    align-items: center;
    width: 100vw;
    // background-color: #1C1C1C;
    background-color: #151515;
    min-height: 100vh;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.info {
    display: flex;
    max-width: 800px;
    padding: 10px;
    flex-direction: column;
}

.link {
    color: #2657eb;
    text-decoration: none;
    transition: all 0.25s;

    &:hover {
        color: #de6161;
    }
}

.info-header {
    font-size: 50px;
    padding: 40px 0px;
    color: #2657eb;
}

.info-text {
    color: white;
    font-size: 24px;
    line-height: 135%;
}


.info-icons {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}


.portrait-container {
    position: relative;
    display: flex;
    height: fit-content;
    margin-left: auto;
    margin-right: 10vw;
}

.portrait {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 10px;
}

.portrait-header-container {
    position: absolute;
    right: -50px;
    bottom: -10px;
    background-image: url("../../assets/inkBg.png");
    background-repeat: no-repeat;
    background-size: 130% 100%;
    background-position: 30%;
    background-clip: border-box;
    border-radius: 40%;
    width: fit-content;
    z-index: 10;
}

.portrait-header {
    display: inline;
    z-index: 10;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    white-space: nowrap;
    background-image: linear-gradient(to right, #de6161, #2657eb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px 15px;

}